ProvaPratica/Fluxo1.json
[
    {
        "id": "4d0a001f53725d33",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4ac4c713b8ad9084",
        "type": "function",
        "z": "4d0a001f53725d33",
        "name": "Função Max & Min slider",
        "func": "let ocupacao_max = flow.get(\"ocupacao_max\") || 0;\nflow.set(\"ocupacao_max\",msg.payload)\nmsg.payload = `<font color=red>${msg.payload}</font>`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 420,
        "wires": [
            [
                "17919e034cb380ee"
            ]
        ]
    },
    {
        "id": "0d7c5978de43235b",
        "type": "change",
        "z": "4d0a001f53725d33",
        "name": "True",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Entrou na Sala",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 260,
        "wires": [
            [
                "2922906f0a63f409"
            ]
        ]
    },
    {
        "id": "99e96b39de98fe5b",
        "type": "change",
        "z": "4d0a001f53725d33",
        "name": "False",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Saiu da Sala",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 300,
        "wires": [
            [
                "68f3db2e0e2055d6"
            ]
        ]
    },
    {
        "id": "386f98ba5e28d6ef",
        "type": "switch",
        "z": "4d0a001f53725d33",
        "name": "Separador True False",
        "property": "payload.entrada",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 360,
        "y": 280,
        "wires": [
            [
                "0d7c5978de43235b"
            ],
            [
                "99e96b39de98fe5b"
            ]
        ]
    },
    {
        "id": "25f59c0c18b0cc7d",
        "type": "switch",
        "z": "4d0a001f53725d33",
        "name": "Separador On Off",
        "property": "payload.status_esp2",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Offline",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Online",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 370,
        "y": 100,
        "wires": [
            [
                "b8c40de663708084"
            ],
            [
                "48740279e6940e91"
            ]
        ]
    },
    {
        "id": "b8c40de663708084",
        "type": "change",
        "z": "4d0a001f53725d33",
        "name": "Offline",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Offline",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 80,
        "wires": [
            [
                "6d83c23a8a9345a8"
            ]
        ]
    },
    {
        "id": "48740279e6940e91",
        "type": "change",
        "z": "4d0a001f53725d33",
        "name": "Online",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Online",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 120,
        "wires": [
            [
                "5b86c8c617429c8e"
            ]
        ]
    },
    {
        "id": "2acb3e7a7dec2cdd",
        "type": "mqtt in",
        "z": "4d0a001f53725d33",
        "name": "",
        "topic": "ProvaPratica/IoT/Status2",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "1117a94459455b7d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 100,
        "wires": [
            [
                "25f59c0c18b0cc7d"
            ]
        ]
    },
    {
        "id": "e7ec64e32e9bc2bc",
        "type": "mqtt in",
        "z": "4d0a001f53725d33",
        "name": "",
        "topic": "ProvaPratica/IoT/Sensor",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "1117a94459455b7d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 320,
        "wires": [
            [
                "386f98ba5e28d6ef",
                "ee10b31208656cc1"
            ]
        ]
    },
    {
        "id": "a3b2e2b958e824c2",
        "type": "function",
        "z": "4d0a001f53725d33",
        "name": "Separando e colorindo partes da quantidade de pessoa",
        "func": "let divisao = Math.floor(flow.get(\"ocupacao_max\")/3);\n\nif (msg.payload.pessoas > (divisao * 2)) {\n    msg.payload = `<font color=red>${msg.payload.pessoas}</font>`;\n}else if (msg.payload.pessoas > (divisao)) {\n    msg.payload = `<font color=#FFBF00>${msg.payload.pessoas}</font>`;\n}else{ \n    msg.payload = `<font color=green>${msg.payload.pessoas}</font>`;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 320,
        "wires": [
            [
                "4af457253d92c9c2"
            ]
        ]
    },
    {
        "id": "63c3c0ef7971637f",
        "type": "change",
        "z": "4d0a001f53725d33",
        "name": "Mudando payload",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload.pessoas",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "quantidade",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 340,
        "wires": [
            [
                "a3b2e2b958e824c2",
                "f9ad4fc4c7378662"
            ]
        ]
    },
    {
        "id": "d90f25a3189415bd",
        "type": "switch",
        "z": "4d0a001f53725d33",
        "name": "Separador On Off",
        "property": "payload.status_esp1",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Offline",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Online",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 370,
        "y": 180,
        "wires": [
            [
                "61454d30bd7ff863"
            ],
            [
                "279c960b2a319bf5"
            ]
        ]
    },
    {
        "id": "61454d30bd7ff863",
        "type": "change",
        "z": "4d0a001f53725d33",
        "name": "Offline",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Offline",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 160,
        "wires": [
            [
                "d7b3815c8c8b5dd7"
            ]
        ]
    },
    {
        "id": "279c960b2a319bf5",
        "type": "change",
        "z": "4d0a001f53725d33",
        "name": "Online",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Online",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 200,
        "wires": [
            [
                "fe54127e37104972"
            ]
        ]
    },
    {
        "id": "3ff9e4e84e058ac6",
        "type": "mqtt in",
        "z": "4d0a001f53725d33",
        "name": "",
        "topic": "ProvaPratica/IoT/Status1",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "1117a94459455b7d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 180,
        "wires": [
            [
                "d90f25a3189415bd"
            ]
        ]
    },
    {
        "id": "6d83c23a8a9345a8",
        "type": "function",
        "z": "4d0a001f53725d33",
        "name": "Offline",
        "func": "msg.payload = `<font color=black>${msg.payload}</font>`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 80,
        "wires": [
            [
                "d438d740dd321e1d"
            ]
        ]
    },
    {
        "id": "5b86c8c617429c8e",
        "type": "function",
        "z": "4d0a001f53725d33",
        "name": "Online",
        "func": "msg.payload = `<font color=green>${msg.payload}</font>`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 120,
        "wires": [
            [
                "3fc16a311277c1b9"
            ]
        ]
    },
    {
        "id": "d7b3815c8c8b5dd7",
        "type": "function",
        "z": "4d0a001f53725d33",
        "name": "Offline",
        "func": "msg.payload = `<font color=black>${msg.payload}</font>`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 160,
        "wires": [
            [
                "06103ca8c8a75c63"
            ]
        ]
    },
    {
        "id": "fe54127e37104972",
        "type": "function",
        "z": "4d0a001f53725d33",
        "name": "Online",
        "func": "msg.payload = `<font color=green>${msg.payload}</font>`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 200,
        "wires": [
            [
                "207be7be639f2a7a"
            ]
        ]
    },
    {
        "id": "3fc16a311277c1b9",
        "type": "link out",
        "z": "4d0a001f53725d33",
        "name": "Online Sensor",
        "mode": "link",
        "links": [
            "2e135d6f527eaf3e"
        ],
        "x": 765,
        "y": 120,
        "wires": []
    },
    {
        "id": "06103ca8c8a75c63",
        "type": "link out",
        "z": "4d0a001f53725d33",
        "name": "Offline DHT",
        "mode": "link",
        "links": [
            "6a2e4b67e34365c6"
        ],
        "x": 765,
        "y": 160,
        "wires": []
    },
    {
        "id": "207be7be639f2a7a",
        "type": "link out",
        "z": "4d0a001f53725d33",
        "name": "Online DHT",
        "mode": "link",
        "links": [
            "8930c92033621c1f"
        ],
        "x": 765,
        "y": 200,
        "wires": []
    },
    {
        "id": "aafe7b008966ae30",
        "type": "mqtt out",
        "z": "4d0a001f53725d33",
        "name": "",
        "topic": "ProvaPratica/IoT/QntdPessoas",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1117a94459455b7d",
        "x": 910,
        "y": 500,
        "wires": []
    },
    {
        "id": "ee10b31208656cc1",
        "type": "function",
        "z": "4d0a001f53725d33",
        "name": "function 1",
        "func": "let ocupacao_atual = flow.get(\"ocupacao\") || 0;\nlet evento = msg.payload.entrada;\n\nif (ocupacao_atual === undefined) {\n    ocupacao_atual = 0;\n}\nif (evento == true) {\n    ocupacao_atual += 1;\n}else if (evento == false) {\n    ocupacao_atual -= 1;\n    \n}\nif (ocupacao_atual < 0) {\n    ocupacao_atual = 0;\n}\n\nflow.set(\"ocupacao\",ocupacao_atual);\nmsg.payload = ocupacao_atual;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 360,
        "wires": [
            [
                "c36a8ab41952e238",
                "ac8f1071cb9c65a2",
                "63c3c0ef7971637f"
            ]
        ]
    },
    {
        "id": "c36a8ab41952e238",
        "type": "change",
        "z": "4d0a001f53725d33",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload.quantidade",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 500,
        "wires": [
            [
                "b1d4d7565c16a1f6"
            ]
        ]
    },
    {
        "id": "b1d4d7565c16a1f6",
        "type": "json",
        "z": "4d0a001f53725d33",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 710,
        "y": 500,
        "wires": [
            [
                "aafe7b008966ae30"
            ]
        ]
    },
    {
        "id": "d438d740dd321e1d",
        "type": "link out",
        "z": "4d0a001f53725d33",
        "name": "Offline Sensor",
        "mode": "link",
        "links": [
            "92fe8af38b5e6afc"
        ],
        "x": 765,
        "y": 80,
        "wires": []
    },
    {
        "id": "ac8f1071cb9c65a2",
        "type": "link out",
        "z": "4d0a001f53725d33",
        "name": "Quantidade Pessoa",
        "mode": "link",
        "links": [
            "b179c563297a1d2e"
        ],
        "x": 475,
        "y": 540,
        "wires": []
    },
    {
        "id": "17919e034cb380ee",
        "type": "link out",
        "z": "4d0a001f53725d33",
        "name": "Quantidade Maxima de Pessoa",
        "mode": "link",
        "links": [
            "c13de383e4cde52b"
        ],
        "x": 715,
        "y": 420,
        "wires": []
    },
    {
        "id": "4af457253d92c9c2",
        "type": "link out",
        "z": "4d0a001f53725d33",
        "name": "Somando Quantidade Pessoa",
        "mode": "link",
        "links": [
            "7b5834c339d35d33"
        ],
        "x": 1115,
        "y": 320,
        "wires": []
    },
    {
        "id": "2922906f0a63f409",
        "type": "link out",
        "z": "4d0a001f53725d33",
        "name": "Entrou na Sala",
        "mode": "link",
        "links": [
            "29bacc256b69ea7b"
        ],
        "x": 615,
        "y": 260,
        "wires": []
    },
    {
        "id": "68f3db2e0e2055d6",
        "type": "link out",
        "z": "4d0a001f53725d33",
        "name": "Saiu da Sala",
        "mode": "link",
        "links": [
            "62cc3bd8ba3842cf"
        ],
        "x": 615,
        "y": 300,
        "wires": []
    },
    {
        "id": "9ae56bf1e0ce9a80",
        "type": "link in",
        "z": "4d0a001f53725d33",
        "name": "Saiu da Sala",
        "links": [
            "796a7ac76d8594d2"
        ],
        "x": 365,
        "y": 320,
        "wires": [
            [
                "4ac4c713b8ad9084",
                "90ffd3337d8b9161",
                "61980eea7b642253"
            ]
        ]
    },
    {
        "id": "90ffd3337d8b9161",
        "type": "change",
        "z": "4d0a001f53725d33",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload.max",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 460,
        "wires": [
            [
                "ed1fd901eb5916e4"
            ]
        ]
    },
    {
        "id": "ed1fd901eb5916e4",
        "type": "json",
        "z": "4d0a001f53725d33",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 710,
        "y": 460,
        "wires": [
            [
                "69af88e3ccfb046f"
            ]
        ]
    },
    {
        "id": "69af88e3ccfb046f",
        "type": "mqtt out",
        "z": "4d0a001f53725d33",
        "name": "",
        "topic": "ProvaPratica/IoT/QntdPessoasMax",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1117a94459455b7d",
        "x": 920,
        "y": 460,
        "wires": []
    },
    {
        "id": "61980eea7b642253",
        "type": "change",
        "z": "4d0a001f53725d33",
        "name": "Mudando payload",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload.max",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "maximo",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 380,
        "wires": [
            [
                "f9ad4fc4c7378662"
            ]
        ]
    },
    {
        "id": "f66d3fa46697b173",
        "type": "function",
        "z": "4d0a001f53725d33",
        "name": "function 2",
        "func": "let pessoas = msg.payload.quantidade.pessoas;\nlet max = msg.payload.maximo.max;\n\nif (pessoas >= max) {\n    msg.payload = 'Quantidade maxima atingida';\n}else if (pessoas < max) {\n    msg.payload = '';\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 360,
        "wires": [
            [
                "2809b28074681a7f"
            ]
        ]
    },
    {
        "id": "f9ad4fc4c7378662",
        "type": "join",
        "z": "4d0a001f53725d33",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 720,
        "y": 360,
        "wires": [
            [
                "f66d3fa46697b173"
            ]
        ]
    },
    {
        "id": "2809b28074681a7f",
        "type": "switch",
        "z": "4d0a001f53725d33",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1010,
        "y": 360,
        "wires": [
            [
                "d2de8a64500f04eb"
            ]
        ]
    },
    {
        "id": "d2de8a64500f04eb",
        "type": "link out",
        "z": "4d0a001f53725d33",
        "name": "NOTIFICATION",
        "mode": "link",
        "links": [
            "c2dad2d60384dba4"
        ],
        "x": 1115,
        "y": 360,
        "wires": []
    },
    {
        "id": "1117a94459455b7d",
        "type": "mqtt-broker",
        "name": "",
        "broker": "224a031c7e714f00b6f5367683fd460c.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "b6a973d9c7cce159",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b6a973d9c7cce159",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    }
]